<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 align='center'>Bing美图欣赏</h1>
    <p>
      <%= image_tag(@img_url) %>
    </p>
  </body>
</html>